@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');


*{
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root{
	--bg-color: #222327;
	--text-color: #fff;
	--main-color: #4164b2;
}
body{
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #16151d;
	color: var(--text-color);
	font-family: 'Quicksand', serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	padding: 28px 4%;
	transition: all .50s ease;
	z-index: 1;
}


header form{
	padding: 0 10px;
	display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    border: 1px solid rgba(155,155,155,0.2);
}

header form input{
padding: 0 10px;
}
  
header form button{
    padding: 0 12px;
    color: #fff;
    font-size: 17px;
    background: var(--main-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  header form button:hover{
    background: #2a4d97;
  }

.logo{
	display: flex;
	align-items: center;
}
.logo i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 3px;
}
.logo span{
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 600;
}

.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.navbar a.active{
	color: var(--main-color);
}


.mainn{
	font-size: 1.1rem;
	margin-left: 10px;
	display: flex;
	align-items: center;
}
.mainn li a{
	margin-left: 12px;
	color: var(--text-color);
}
.menu-icon{
	font-size: 25px;
	color: var(--text-color);
	cursor: pointer;
	display: none;
}

i{
	margin: 0 8px;
}

@media (max-width: 1280px){
	header{
		padding: 20px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}

	.mainn{
		display: none;
	}

	.mainn .menu-icon{
		position: absolute;
		right: 30px;
	}
	
	header form{
		position: absolute;
		width: 40%;
		left: 50%;
		top: 28%;
	}

	header form input{
		width: 96%;
	} 
}

@media (max-width: 910px){
	.menu-icon{
		display: block;
	}

	.navbar{
		position: absolute;
		z-index: 99;
		top: 110%;
		right: -100%;
		width: 270px;
		height: 40vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--text-color);
		transform: translateX(10px);
	}
	.navbar a.active{
		color: var(--text-color);
	}
	.navbar.open{
		right: 2%;
	}
}


@media (max-width: 640px){
	header form{
		position: absolute;
		width: 40%;
		left: 47%;
		top: 28%;
	}
	.menu-icon{
		display: block;
	}
}


/* benner */
.banner{
    background-size: cover;
	background-position: center;
	position: relative;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-top: 95px;
}

@media (max-width: 1280px){
	.banner{
		margin-top:75px;
	}
}

.banner img{
	width: 100%;
}

.container{

	padding-bottom: 70px ;
	width: 100%;
	min-height: 200px;
	background: #222327;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 33px 0 0 0;
	
  }

.tittle-text{
    padding-left: 5px;
  }
  
  .tittle-text h1{
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    font-weight: 500;
    border-bottom: 1px solid #312f40;
    padding-bottom: 10px;
  }

  
  
   .container h2{
	position: absolute;
	width: 300px;
	height: 50px;
	text-align: center;
	padding: 6px 0 0 5px;
	/* padding: 5px 8px; */
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color); 
	margin: 15px 0;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 6px;
  }
  
  .card{
	background: #222327;
	margin: 80px 10px 0;
	min-height: 150px;
	max-width: 217px;
	border-radius: 5px;
  }


  
  .container .card .content{
	width: 214px;
	height: 315px;
	border-radius: 5px;
  }
  
  .container .card .deskrip{
	padding: 5px 0;
  }
  
  .card .deskrip span a{
	padding: 12px 0;
	color: #fff;
	font-size: .95em;
	font-weight: 900;
    line-height: 19px;
  }
  

  @media (max-width: 650px) {
	.container .card .content{
		width: 134px;
		height: 185px;
		border-radius: 5px;
	  }
	.container .card {
	  text-align: start;
	  display: grid;
	  grid-template-columns: auto;
	  max-height: 350px;
	  
	}
	.container .card .deskrip{
		padding: 10px 0;
	  }
	  
	  .card .deskrip span{
		padding: 0;
		color: #fff;
		font-size: 14px;
		font-weight: 900;
	  }
	  
	
	  
  }
  @media (max-width: 390px){
	.container .card {
	  margin-top: 120px;
	}
  }
  
  .iklan {
	background: #16151d;
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
  }

  .iklan img{
    width: 50%;
  }

  .items {
	width: 800px;
	height: 300px;
	overflow-y: hidden;
	overflow-x: auto;
	display: flex;
margin: 0 280px;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
	height: 10px;
	width: 10px;
	background: gray;
  }

  ::-webkit-scrollbar-thumb{
	background: #000;
	border-radius: 10px;
  }

  
  .items .item {
	flex: 0 0 200px;
	max-width: 200px;
	display: inline-flex;
	
	font-weight: 700;
	font-size: 3rem;
	color: aliceblue;
  }

  .items .item img{
	height: 300px;
	width: 200px;
  }

  @media(max-width: 900px){
	.items{
		grid-template-columns: 1fr;
		width: 100%;
		border-radius: none;
	}
	.image{
		height: 100vh;
		border-radius: none;
	}
	.content{
		height: 100vh;
		border-radius: none;
	}
	.content h2{
		font-size: 20px;
		margin-top: 50px;
	}
	.content span{
		margin: 20px 0;
	}
	.content p{
		font-size: 14px;
	}
  
	.icons li i{
		font-size: 15px;
	}
  }



  /* footer */ 
.footer{
  background: #12192c;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer p{
  color: white;
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer p a{
 color:#EC7272;
 font-size: 16px;
 text-decoration: none;
}
.footer span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}

/* tentang saya */
#aboutme{ 
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 400px;
	width: 850px;
	margin: 20px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 12px
  }
  .image{
	position: relative;
	background-color: #12192c;
	display: flex;
	align-items: center;
	border-radius: 12px 0 0 12px;
  }
  .image img{
	height:210px;
	width: 250px;
	margin:50px auto;
	border-radius: 10px;
  }
  .content{
	background-color: #12192c;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 0  12px 12px 0;
	color: #fff;
  }
  .content h2{
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 6px;
	opacity: 0.9;
  }
  .content .animasi{
	height: 0.5px;
	width: 80px;
	background: #777;
	margin: 30px 0;
  }
  .content p{
	padding-bottom: 15px;
	font-weight: 300;
	opacity: 0.7;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	line-height: 1.7;
	color:#ffffff
  }
  
  .icons{
	display: flex;
	padding: 15px 0;
  }
  .icons li{
	display: block;
	padding: 5px;
	margin: 5px;
  }
  .icons li a i {
	color: #2a4d97;
	font-size: 30px;
	opacity: 0.8;
  }
  .icons li i:hover{
	color: #f9004d;
	cursor: pointer;
  }
  
  @media(max-width: 900px){
	#aboutme{
		grid-template-columns: 1fr;
		width: 100%;
		border-radius: none;
	}
	.image{
		height: 100vh;
		border-radius: none;
	}
	.content{
		height: 100vh;
		border-radius: none;
	}
	.content h2{
		font-size: 20px;
		margin-top: 50px;
	}
	.content span{
		margin: 20px 0;
	}
	.content p{
		font-size: 14px;
	}
  
	.icons li i{
		font-size: 15px;
	}
  }
  
  .credit{
	text-align: center;
	color: #000;
  }
  
  .credit a{
	text-decoration: none;
	color:#000;
	font-weight: bold;
  } 
  


  /* login */

  
  .bg_lgn {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	color: #000;
	background: url(../assets/525283bfe816f59bb6b045816f63eaa5ddc5504d_s2_n2.png);
	background-position: center;
	background-size: cover;
	/* background: linear-gradient(#e66465, #9198e5); */
  }
  
  h1 {
	text-align: center;
	font-weight: 300;
  }

  .kotak_login label{
	color: black;
  }
  
  .tulisan_login {
	color: #16151d;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
  }
  
 .kotak_login {
	width: 350px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
  }
 .kotak_login input{
	outline-color: #50577A;
  }
  
  label {
	font-size: 11pt;
  }
  
  .form_login {
	
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
  }
  
  .tombol_login {
  cursor: pointer;
	background: #50577A;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
  }

  
  .link {
	color: blue;
	text-decoration: none;
	font-size: 10pt;
  }
  
  .link:hover{
	text-decoration: underline;
  }
  
  .kotak_login p a{
	color: aliceblue;
	text-decoration: none;
  }

  .back a {
	position: absolute;
	left: 10px;
	top: 10px;
  }

  .back a i{
	background: #fff;
	padding: 10px 15px;
	color: #16151d;
	border-radius: 5px;
  }


  