@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
	--bg-color: #222327;
	--text-color: #fff;
	--main-color: #4164b2;
}

body {
	width: 100%;
	height: 80vh;
	justify-content: center;
	align-items: center;
	background: #16151d;
	color: var(--text-color);
	font-family: 'Quicksand', serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	padding: 28px 4%;
	transition: all .50s ease;
	z-index: 1;
}


header form {
	padding: 0 10px;
	display: flex;
	height: 40px;
	padding: 2px;
	background: #1e232b;
	border-radius: 2px;
	border: 1px solid rgba(155, 155, 155, 0.2);
}

header form input {
	padding: 0 10px;
}

header form button {
	padding: 0 12px;
	color: #fff;
	font-size: 17px;
	background: var(--main-color);
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

header form button:hover {
	background: #2a4d97;
}

.logo {
	display: flex;
	align-items: center;
}

.logo i {
	color: var(--main-color);
	font-size: 28px;
	margin-right: 3px;
}

.logo span {
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 600;
}

.navbar {
	display: flex;
}

.navbar a {
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}

.navbar a:hover {
	color: var(--main-color);
}

.navbar a.active {
	color: var(--main-color);
}


.mainn{
	font-size: 1.1rem;
	margin-left: 10px;
	display: flex;
	align-items: center;
}
.mainn li a{
	margin-left: 12px;
	color: var(--text-color);
}
.menu-icon{
	font-size: 25px;
	color: var(--text-color);
	cursor: pointer;
	display: none;
}

i{
	margin: 0 8px;
}

@media (max-width: 1280px) {
	header {
		padding: 20px 2%;
		transition: .2s;
	}

	.navbar a {
		padding: 5px 0;
		margin: 0px 20px;
	}

	.main a {
		display: none;
	}

	.mainn{
		display: none;
	}

	.mainn .menu-icon {
		position: absolute;
		right: 30px;
	}

	header form {
		position: absolute;
		width: 40%;
		left: 50%;
		top: 28%;
	}

	header form input {
		width: 96%;
	}
}

@media (max-width: 910px) {
	.menu-icon {
		display: block;
	}

	.navbar {
		position: absolute;
		z-index: 99;
		top: 110%;
		right: -100%;
		width: 270px;
		height: 40vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}

	.navbar a {
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}

	.navbar a:hover {
		color: var(--text-color);
		transform: translateX(10px);
	}

	.navbar a.active {
		color: var(--text-color);
	}

	.navbar.open {
		right: 2%;
	}
}


@media (max-width: 640px) {
	header form {
		position: absolute;
		width: 40%;
		left: 47%;
		top: 28%;
	}

	.menu-icon {
		display: block;
	}
}


/* detail comic */
.box-detail {
	width: 1100px;
	height: 440px;
	/* display: flex; */
	background: #222327;
	padding: 12px 20px;
	margin: 100px 140px 0;
	border-radius: 5px;
}

.t-comic {
	color: whitesmoke;
	font-size: 21px;
	margin-bottom: 20px;
	font-weight: 500;
	cursor: pointer;
}

.t-comic:hover {
	color: #4164b2;
}

.wrapper {
	display: flex;
}

.gambar {
	width: 190px;
	height: 350px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.gambar img {
	width: 190px;
	height: 270px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.gambar .rating {
	margin-top: 8px;
	background: #343434;
	color: #b8b8b8;
	padding: 7px 10px;
	border-radius: 3px;
}

.gambar .episode {
	width: 190px;
	margin-top: 10px;
	background: #343434;
	color: #b8b8b8;
	padding: 7px 10px;
	border-radius: 3px;
}
.gambar .episode a{
	color: #b8b8b8;
	
}

.box-deskrip {
	background: #222327;
	color: #b8b8b8;
	width: 875px;
	height: 270px;
	padding: 0 20px;
}

.j-comic {
	font-size: 25px;
	font-weight: 700;
	line-height: 28px;
	color: #fff;
}

.produser {
	font-size: 20px;
	margin: 5px 0;
	color: white;
	font-weight: 500;
}

.display-comment{
	width: 1100px;
	background: #222327;
	padding: 12px 20px;
	margin: 30px 140px 0;
	min-height: 280px;
}
.display-comment h2{
	margin-bottom: 10px;
}
.form-display{
	margin-top: 10px;
}
.form-display .name{
	padding: 5px 0;
}
.form-display .line{
	width: 65px;
	height: 1px;
	background: #969ca8;
}
.form-display .waktu{
	font-size: 13px;
}

/* komentar */
.area-comment {
	width: 1100px;
	height: 350px;
	background: #222327;
	padding: 12px 20px;
	margin: 30px 140px 0;
	border-radius: 5px;
}

.area-comment label{
	display: block;
}
 .comment-form textarea {
	border: 2px solid rgba(0,0,0,0.1);
    padding: 8px 10px;
    outline: 0;
    width: 450px;
	margin-top: 10px;
}

.comment-form .form-grup input{
	border: 2px solid rgba(0,0,0,0.1);
	margin-top: 5px;
    padding: 8px 10px;
    outline: 0;
	width: 450px;
}
.comment-form div {
    margin-bottom: 8px;
}

/* footer */
.footer {
	margin-top: 29px;
	background: #12192c;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.footer p {
	color: white;
	float: left;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer p a {
	color: #EC7272;
	font-size: 16px;
	text-decoration: none;
}

.footer span {
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

.highlight {
    background: white;
	color: black;
}